.textarea {
  resize: none;
  width:500px;
  height:30px;
  border:1px solid black;
  font-size:14px;
}
.btn{
	height:22px;
	margin-top:4px;
}
.submit_btn{
	position: absolute;
	top:350px;
	left:20px;
	cursor: pointer;
}
button{
	cursor: pointer;
}